/****************************
    768PX < SCREEN M < 992PX
****************************/
@media all and (max-width: 992px) {
    
    /************
        APP-TOP
    ************/
    /** MAIN **/
    /* MAIN BODY */
    /* 4 colums per grid */
    #main__body .col {
        width: 25%;
    }

}


/****************************
    576PX < SCREEN S < 768PX
****************************/
@media all and (max-width: 768px) {

    /************
        APP-TOP
    ************/
    /** MAIN **/
    /* MAIN BODY */
    /* 2 colums per grid */
    #main__body .col {
        width: 50%;
    }

    /************
        FOOTER
    ************/
    /** FOOTER LEFT **/
    /* footer left can now srink */
    #footer__song {
        width: auto;
    }

}


/****************************
    SCREEN XS < 576PX
****************************/
@media all and (max-width: 576px) {

    /************
        APP-TOP
    ************/
    /** SIDEBAR **/
    /* make the sidebar smaller */
    :root {
        --sidebar-l: 50px;
    }

    /* make some elements disappear */
    #app__sidebar .xs-display-n {
        display: none;
    } 

    /* make new elements appear */
    #app__sidebar .xs-display-b {
        display: block;
    } 

    /** APP NAV **/
    /* icons alignment */
    #app__nav .link__icon {
        margin: 0 auto;
    }

    /** USER INFO **/
    /* download button alingment */
    #user-info .user-info__element {
        justify-content: center;
    }

}