/********************************
    CUSTOM PROPS
********************************/
:root {
    /* palette */
    --body-bg: #141922;
    --footer-bg: #282828;
    --sidebar-bg: #000000;

    /* spacing */
    --footer-h: 100px;
    --sidebar-l: 250px;
}

/********************************
    RESET
********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-bg);
}

img {
    max-width: 100%;
}

/*******************************
    DEBUG
*******************************/
.debug {
    background-color: azure;
    border: 2px dotted blue;
    padding: 20px;
}

/*******************************
    UTILITY
*******************************/
.d-flex {
    display: flex;
}

/*******************************
    APP-TOP
*******************************/
#app__top {
    height: calc(100vh - var(--footer-h));
}

/** SIDEBAR **/
#app__sidebar {
    width: var(--sidebar-l);
    background-color: var(--sidebar-bg);

    flex-shrink: 0;
    flex-direction: column;
}

/* PLAYLIST NAV */
#playlist__nav {
    overflow: auto;
    
    flex-grow: 1;
}

/* USER -ID */
#user-id {
    margin-top: auto;
}

/** MAIN **/
#app__main {
    flex-grow: 1;
}

/********************************
    FOOTER
********************************/
#app__footer {
    background-color: var(--footer-bg);
    height: var(--footer-h);

    justify-content: space-between;
}

/** FOOTER LEFT **/
#footer__left {
    width: var(--sidebar-l);
}